/*My custom CSS*/

body {
  font-family: 'Hind Siliguri';
  cursor: auto;
  color: #4f4f4f;
}

em {
  margin-right: 2px;
}

section {
  padding-bottom: 0;
  padding-top: 80px;
  overflow-x: hidden;
}

/* --- START SITE-WIDE MOBILE DEVICE RULES---*/
@media (max-width: 480px) {

  section {
    padding-bottom: 0;
    padding-top: 40px;
  }
  hr.half {
    margin: 20px 0;
  }
}
/* --- END SITE-WIDE MOBILE DEVICE RULES ---*/
/* ------------------------------- */




/* ------------------------------- */
/* --- START LOGO AND TITLE ---*/
.logo {
  clear: left;
  float: left;
  height: 70px;
  margin: 6px 15px 4px 0;
  user-select: none;
  pointer-events: none;
}

.logo-div {
  margin-left: 5px;
}

.brand {
  user-select: none;
  pointer-events: none;
  padding: 0;
}

.sub-title {
  color: #90AD99;
}

.scroller-spy {
  font-size: 17px;
}

.nav-collapse {
  font-size: 17px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 767px) {
  #brand {
    padding-right: 80px;
  }
}
@media (max-width: 480px) {
  #brand {
    padding-right: 30px;
  }
  .navbar-reaction {
    position: static !important;
  }
  /*.navbar .brand span {
    font-size: 175%;
    margin-left: -15px;
    margin-right: 18px;
  }
  .navbar .brand span small {
    font-size: 12px;
  }
  .container, .navbar .container {
    padding-left: 5px;
  }*/
  img.logo {
    height: 65px;
    margin-right: 0;
    margin-top: 10px;
    width: 65px;
  }
  span {
    padding-right: 0;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END LOGO AND TITLE ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START HEADER IMAGE AND SLIDER ---*/
.over-image-title {
  position: relative;
  text-align: center;
  top: 300px;
}

.name-header,
.dev-header {
  font-family: 'Hind Siliguri';
  text-transform: uppercase;
  /*user-select: none;*/
  pointer-events: none;
}

.name-header {
  font-size: 7em;
}

.dev-header {
  font-size: 3em;
  margin-top: 35px;
}

.photo-cred {
  bottom: 0;
  color: #f7f7f7;
  font-size: .75em;
  left: 3px;
  position: absolute;
  z-index: 999;
}
/* --- START MOBILE DEVICE FORMATTING---*/
@media (min-width: 768px) and (max-width: 980px) {
  .over-image-title {
    top: 250px;
  }
  .name-header {
    font-size: 6em;
  }

  .dev-header {
    font-size: 2.6em;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .over-image-title {
    top: 100px;
  }
  .name-header {
    font-size: 5em;
  }
  .dev-header {
    font-size: 2em;
    margin-top: 5px;
  }
  .photo-cred {
    font-size: .7em;
    left: 25px;
  }
}
@media (max-width: 480px) {
  .action-banner-bg,
  .over-image-title,
  .name-header,
  .dev-header,
  .photo-cred {
    display: none;
  }
  .container {
    margin-top: -540px;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END HEADER IMAGE AND SLIDER ---*/
/* ------------------------------- */



/* ------------------------------- */
/* ------ START ABOUT ME SECTION ------*/
.my-story {
  text-align: left;
  padding-left: 8.5470%;
}

.my-story p {
  font-size: 1.24em;
  line-height: 1.25em;
}

.my-story h3 {
  font-size: 2.9em;
}

.my-photo {
  border-radius: 170px;
  height: 280px;
}

/* --- START MOBILE DEVICE FORMATTING --- */
@media (max-width: 1200px) {
  .my-story {
    padding-left: 2.1470%;
  }
  .my-story p {
    font-size: 1.13em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.3em;
  }
  .my-photo {
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .my-story {
    padding-left: 0;
  }
  .my-story p {
    font-size: 1.1em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.1em;
    margin: 0;
  }
  .my-photo {
    height: 228px;
  }
}
@media (max-width: 767px) {
  #bio-section {
    padding-top: 20px;
  }
  .my-story {
    padding: 0 30px;
  }
  .my-story p {
    font-size: 1.1em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.1em;
    margin: 0;
  }
  .my-photo {
    height: 228px;
  }
}
@media (max-width: 480px) {
  .my-story {
    padding: 0 20px;
  }
  .my-story p {
    font-size: 1.02em;
    line-height: 1.29em;
    text-align: justify;
  }
  .my-story h3 {
    font-size: 1.4em;
    line-height: 1.0em;
    margin: 0 0 10px;
    /*text-align: center;*/
  }
  .my-photo {
    display: block;
    border-radius: 150px;
    height: 200px;
  }
  #bio-section {
    padding: 0;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END ABOUT ME SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START SKILLS SECTION ---*/
p.features,
p.features:hover {
  border-bottom: none;
  color: #4f4f4f;
  padding-bottom: 0;
  -webkit-transition: none;
}
/* --- START DEVELOPMENT SKILL ICONS ---*/
.devicon {
  display: block;
  padding: 20px;
  position: relative;
  transition: 0.6s;
  user-select: none;

/* --- CHANGE THIS WHEN HOVERING WILL MEAN SOMETHING ---*/
  pointer-events: none;
}

.devicon:hover {
  padding: 10px;
}

.devicon > img {
  float: left;
}

.devicon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.dev {
  height: 90%;
  position: absolute;
  transition: 0.6s;
  width: 90%;
  z-index: -1;
}

.devicon-row {
  margin-bottom: 25px;
}

/* --- START MOBILE DEVICE ---*/
  @media (max-width: 767px) {
    .span2.devicon {
      display: inline-block;
      float: none;
      width: 25%;
      margin: 0;
    }
    .devicon-row {
      margin-bottom: 0;
    }
    p.features {
      padding: 0 40px 15px;
    }
  }
  @media (max-width: 480px) {
    .span2.devicon {
      width: 30%;
      margin: 0;
    }
    p.features {
      padding: 0 15px 15px;
    }
  }
/* --- END MOBILE DEVICE ---*/
/* --- END DEVELOPMENT SKILL ICONS ---*/
/* --- END SKILLS SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START PROJECTS ---*/
.main-project {
  display: none;
}

.project-2 {
  box-sizing: border-box;
  border-left: 3px solid #004E64;
  border-top: 3px solid #004E64;
  border-right: 3px solid #004E64;
  height: 310px;
}

.fa-github,
.fa-link {
  color: #fff;
}

.thumbnail {
  box-sizing: border-box;
  padding: 0 0px 15px;
}

.project-item-overlay > .inner > ul > li > a.proj-btn {
  box-shadow: none;
}

.thumbnail .caption {
  padding: 7px 9px;
}

.thumbnail .caption .caption-descr {
  font-size: 14.5px;
  line-height: 16px;
  margin: 0;
  padding: 0 10px;
}

.thumbnail .caption .caption-descr #nel {
  color: #0099ee;
  float: none;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 1200px) {
  .project-2 {
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .project-2 {
    height: 200px;
  }
  .thumbnail .caption {
    padding: 3px 9px;
  }
  .thumbnail .caption .caption-descr {
    margin: 5px 0;

    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .project-2 {
    height: 340px;
  }
}
@media (max-width: 480px) {
  .project-2 {
    height: 200px;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END PROJECTS ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START CONTACT SECTION ---*/
section#contact-section {
  padding-bottom: 0;
  padding-top: 100px;
}

.color-bottom-line {
  text-align: center;
}

.contact-header {
  margin-top: 0;
}

.contact-icons {
  box-sizing: border-box;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
}

.contact-icon {
  display: block;
  font-size: .9em;
  text-align: center;
  margin: 0;
  width: 33%;
}

.linked {
  background-image: url("../../assets/css/genericons-2/source/svg/linkedin-alt.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px;
  width: 48px;
  height: 48px;
}

.github {
  border-radius: 45px;
  background-image: url("../../assets/css/genericons-2/source/svg/github.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.resume {
  background-image: url("../../assets/css/genericons-2/source/svg/resume-small.png");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.icon-description {
  /*clear: both;*/
  text-align: center;
  width: 100%;
}
/* --- END CONTACT SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START FOOTER ---*/
.footer {
  font-size: 17px;
}

#footer-section {
  padding-top: 50px;
  padding-bottom: 0;
}
/* --- END FOOTER ---*/
/* ------------------------------- */
