/*My custom CSS*/

body {
  font-family: 'Hind Siliguri';
  cursor: auto;
  color: #4f4f4f;
}

em {
  margin-right: 2px;
}

section {
  padding-bottom: 0;
  padding-top: 80px;
  overflow-x: hidden;
}

/* --- START SITE-WIDE MOBILE DEVICE RULES---*/
@media (max-width: 480px) {

  section {
    padding-bottom: 0;
    padding-top: 40px;
  }
  hr.half {
    margin: 20px 0;
  }
  .large-text {
    font-size: 1.6em;
  }
  .standart-h2title {
    padding: 0 15px;
  }
}
/* --- END SITE-WIDE MOBILE DEVICE RULES ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START LOADING ICON ---*/
/*.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
.spinnger {
  color: #000;
  position: absolute;
  top: 400px;
  z-index: 800;
}*/
/* --- END LOADING ICON ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START LOGO AND TITLE ---*/
.logo {
  clear: left;
  float: left;
  height: 70px;
  margin: 6px 15px 4px 0;
  user-select: none;
  /*pointer-events: none;*/
}

.logo-div {
  margin-left: 5px;
}

.brand {
  user-select: none;
  /*pointer-events: none;*/
  padding: 0;
}

.sub-title {
  color: #90AD99;
}

.scroller-spy {
  font-size: 17px;
}

.nav-collapse {
  font-size: 17px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 767px) {
  #brand {
    padding-right: 80px;
  }
}
@media (max-width: 480px) {
  #brand {
    padding-right: 40px;
  }
  .navbar .brand span {
    font-size: 1.9em;
  }
  .container, .navbar .container {
    padding: 0 0px;
  }
  .logo {
    height: 60px;
    margin-right: 0;
    margin-top: 10px;
  }
  span {
    padding-right: 0;
  }
}
@media (max-width: 370px) {
  .navbar .brand span {
    font-size: 1.8em;
  }
  .navbar .brand span small {
    font-size: 12px;
  }
  .logo {
    height: 50px;
    margin-right: 0;
    margin-top: 15px;
  }
}

/* --- END MOBILE DEVICE ---*/
/* --- END LOGO AND TITLE ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START HEADER IMAGE AND SLIDER ---*/
.over-image-title {
  position: relative;
  text-align: center;
  top: 40vh;
}

.name-header,
.dev-header {
  font-family: 'Hind Siliguri';
  text-transform: uppercase;
  /*user-select: none;*/
  pointer-events: none;
}

.name-header {
  font-size: 7em;
}

.dev-header {
  font-size: 3em;
  margin-top: 35px;
}

.photo-cred {
  bottom: 0;
  color: #f7f7f7;
  font-size: .75em;
  left: 3px;
  position: absolute;
  z-index: 999;
}
/* --- START MOBILE DEVICE FORMATTING---*/
@media (min-width: 768px) and (max-width: 980px) {
  .over-image-title {
    top: 200px;
  }
  .name-header {
    font-size: 6em;
  }
  .dev-header {
    font-size: 2.6em;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .over-image-title {
    top: 200px;
  }
  .name-header {
    font-size: 5em;
  }
  .dev-header {
    font-size: 2em;
    margin-top: 5px;
  }
  .photo-cred {
    font-size: .7em;
    left: 25px;
  }
}
@media (max-width: 480px) {
  .action-banner-bg,
  .over-image-title,
  .name-header,
  .dev-header,
  .photo-cred {
    display: none;
  }
  .container {
    margin-top: -270px;
  }
  .bio-img {
    position: absolute;
    top: 100px;
  }
}
@media (max-width: 480px) {
  .container {
    margin-top: -285px;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END HEADER IMAGE AND SLIDER ---*/
/* ------------------------------- */



/* ------------------------------- */
/* ------ START ABOUT ME SECTION ------*/
.my-story {
  text-align: left;
  padding-left: 8.5470%;
}

.my-story p {
  font-size: 1.24em;
  line-height: 1.25em;
}

.my-story h3 {
  font-size: 2.9em;
}

.my-photo {
  border-radius: 170px;
  height: 280px;
}

/* --- START MOBILE DEVICE FORMATTING --- */
@media (max-width: 1200px) {
  .my-story {
    padding-left: 2.1470%;
  }
  .my-story p {
    font-size: 1.13em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.3em;
  }
  .my-photo {
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .my-story {
    padding-left: 0;
  }
  .my-story p {
    font-size: 1.1em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.1em;
    margin: 0;
  }
  .my-photo {
    height: 228px;
  }
}
@media (max-width: 767px) {
  #bio-section {
    padding-top: 20px;
  }
  .my-story {
    padding: 0 30px;
  }
  .my-story p {
    font-size: 1.1em;
    line-height: 1.29em;
  }
  .my-story h3 {
    font-size: 2.1em;
    margin: 0;
  }
  .my-photo {
    height: 228px;
  }
}
@media (max-width: 480px) {
  .my-story {
    padding: 0 20px;
  }
  .my-story p {
    font-size: 1.27em;
    line-height: 1.49em;
  }
  .my-story h3 {
    font-size: 1.43em;
    line-height: 1.0em;
    margin: 0 0 10px;
  }
  .my-photo {
    height: 250px;
  }
  #bio-section {
    padding: 0;
  }
}
@media (max-width: 370px) {
  .my-story {
    padding: 0 20px;
  }
  .my-story p {
    font-size: 1.3em;
    line-height: 1.49em;
  }
  .my-story h3 {
    font-size: 1.6em;
    line-height: 1.0em;
    margin: 0 0 10px;
  }
  .my-photo {
    height: 230px;
  }
  #bio-section {
    padding: 0;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END ABOUT ME SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START SKILLS SECTION ---*/
p.features,
p.features:hover {
  font-family: 'Hind Siliguri';
  border-bottom: none;
  color: #4f4f4f;
  padding-bottom: 0;
  -webkit-transition: none;
  pointer-events: none;
  text-align: left;
}
/* --- START DEVELOPMENT SKILL ICONS ---*/
.devicon {
  display: block;
  padding: 20px;
  position: relative;
  transition: 0.6s;
  user-select: none;

/* --- CHANGE THIS WHEN HOVERING WILL MEAN SOMETHING ---*/
  pointer-events: none;
}

.devicon:hover {
  padding: 10px;
}

.devicon > img {
  float: left;
}

.devicon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.dev {
  height: 90%;
  position: absolute;
  transition: 0.6s;
  width: 90%;
  z-index: -1;
}

.devicon-row {
  margin-bottom: 25px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 767px) {
  .span2.devicon {
    display: inline-block;
    float: none;
    width: 25%;
    margin: 0;
  }
  .devicon-row {
    margin-bottom: 0;
  }
  p.features {
    padding: 0 40px 15px;
  }
}
@media (max-width: 480px) {
  .span2.devicon {
    width: 31.5%;
    margin: 0;
  }
  h3.features-title {
    font-size: 1.6em;
  }
  p.features {
    font-size: 1.27em;
    line-height: 1.49em;
    padding: 0 20px;
  }
}
@media (max-width: 370px) {
  .span2.devicon {
    width: 31.5%;
    margin: 0;
  }
  p.features {
    font-size: 1.3em;
    line-height: 1.49em;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END DEVELOPMENT SKILL ICONS ---*/
/* --- END SKILLS SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START PROJECTS ---*/
.main-project {
  display: none;
}

.project-item-overlay > .inner > ul > li > a.proj-btn {
  box-shadow: none;
}

.project-2 {
  box-sizing: border-box;
  border-left: 3px solid #004E64;
  border-top: 3px solid #004E64;
  border-right: 3px solid #004E64;
  height: 310px;
}

.fa-github,
.fa-link {
  color: #fff;
}

.thumbnail {
  box-sizing: border-box;
  padding: 0 0px 15px;
}

.thumbnail .caption {
  padding: 7px 9px;
}

.thumbnail .caption .caption-descr {
  font-size: 1.13em;
  line-height: 1.2em;
  margin: 0;
  padding: 0 10px;
}

.thumbnail .caption .caption-descr #nel {
  color: #0099ee;
  float: none;
}

.p-title.standart-h3title {
  margin-top: 23px;
  font-size: 1.5em;
}

.thumbnail .caption {
  height: 84px;
}

.transit-to-top {
  height: 85px;
}

.standart-h3title {
  margin-bottom: 30px;
}

.thumbnail:hover h4,
.thumbnail:hover h3 {
	margin-top: -65px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 1200px) {
  .project-2 {
    height: 270px;
  }
  .p-title.standart-h3title {
    margin-top: 23px;
    font-size: 1.3em;
  }
  .thumbnail .caption .caption-descr {
    font-size: 1.13em;
    line-height: 1.2em;
  }
  .thumbnail .caption {
    height: 84px;
  }
  .transit-to-top {
    height: 85px;
  }
  .standart-h3title {
    margin-bottom: 30px;
  }
  .thumbnail:hover h4,
  .thumbnail:hover h3 {
  	margin-top: -65px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .project-2 {
    height: 200px;
  }
  .thumbnail .caption {
    padding: 3px 9px;
    height: 90px;
  }
  .p-title.standart-h3title {
    margin-top: 23px;
    font-size: 1.2em;
  }
  .thumbnail .caption .caption-descr {
    font-size: .97em;
    line-height: 1.2em;
    text-align: left;
    padding: 0;
  }
  .transit-to-top {
    height: 90px;
  }
  .standart-h3title {
    margin-bottom: 30px;
  }
  .thumbnail:hover h4,
  .thumbnail:hover h3 {
  	margin-top: -65px;
  }
}
@media (max-width: 767px) {
  .project-2 {
    height: 50vw;
  }
  #container-folio {
    padding: 0 8%;
  }
  .thumbnail .caption .caption-descr {
    font-size: 1.13em;
    line-height: 1.2em;
    text-align: left;
    padding: 0;
  }
}
@media (max-width: 568px) {
  .thumbnail .caption .caption-descr {
    font-size: 1.0em;
    line-height: 1.2em;
    text-align: left;
    padding: 0;
  }
}
@media (max-width: 480px) {
  #container-folio {
    padding: 0 2%;
  }
  .p-title.standart-h3title {
    margin-top: 23px;
    font-size: 1.5em;
  }
  .thumbnail .caption .caption-descr {
    font-size: 1.03em;
    line-height: 1.2em;
    text-align: left;
    padding: 0;
  }
  .thumbnail .caption {
    height: 84px;
  }
  .transit-to-top {
    height: 85px;
  }
  .standart-h3title {
    margin-bottom: 30px;
  }
  .thumbnail:hover h4,
  .thumbnail:hover h3 {
  	margin-top: -70px;
  }
}
@media (max-width: 370px) {
  #container-folio {
    padding: 0;
  }
  .p-title.standart-h3title {
    margin-top: 23px;
    font-size: 1.3em;
  }
  .thumbnail .caption .caption-descr {
    font-size: .95em;
    line-height: 1.2em;
    text-align: left;
    padding: 0;
  }
  .project-item-overlay .inner {
    top: 15%;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END PROJECTS ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START CONTACT SECTION ---*/
section#contact-section {
  padding-bottom: 0;
  padding-top: 80px;
  text-align: center;
  overflow: hidden;
}

.contact-text {
  font-size: 1.6em;
  line-height: 1.3em;
}

.contact-icons-div.span4 {
  float: none;
  display: inline-block;
  margin: 35px auto 0;
  text-align: center;
}

.contact-icon {
  display: inline-block;
  font-size: 1em;
  width: 32.3%;
}

.linked {
  background-image: url("../../assets/css/genericons-2/source/svg/linkedin-alt.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px;
  width: 48px;
  height: 48px;
}

.github {
  border-radius: 45px;
  background-image: url("../../assets/css/genericons-2/source/svg/github.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.resume {
  background-image: url("../../assets/css/genericons-2/source/svg/resume-small.png");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.icon-description {
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-icons-div.span4 {
    width: 44%;
  }
  .contact-icon {
    font-size: .9em;
    width: 32.3%;
  }
  .contact-text {
    font-size: 1.3em;
  }
}
@media (max-width: 480px) {
  .contact-icons-div.span4 {
    width: 56%;
  }
  .contact-icon {
    font-size: 1.1em;
    width: 32.3%;
  }
  .contact-text {
    font-size: 1.4em;
  }
}
@media (max-width: 370px) {
  .contact-icons-div.span4 {
    width: 65%;
  }
  .contact-icon {
    font-size: 1.1em;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END CONTACT SECTION ---*/
/* ------------------------------- */



/* ------------------------------- */
/* --- START FOOTER ---*/
.footer {
  font-size: 17px;
}

#footer-section {
  padding-top: 50px;
  padding-bottom: 0;
}
/* --- END FOOTER ---*/
/* ------------------------------- */
