/*My custom CSS*/

body {
  font-family: 'Hind Siliguri';
}

em {
  margin-right: 2px;
}

section {
  padding-bottom: 0;
  padding-top: 80px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 480px) {
  section {
    padding-bottom: 0;
    padding-top: 40px;
  }
  hr.half {
    margin: 20px 0;
  }
/* --- END MOBILE DEVICE ---*/

}


/* --- START LOGO AND TITLE ---*/
.logo {
  clear: left;
  float: left;
  height: 80px;
  margin: 1px 15px 4px 0;
  width: 80px;
}

.brand {
  float: left;
  position: relative;
}

.sub-title {
  color: #90AD99;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 480px) {
  .navbar .brand span {
    font-size: 175%;
    margin-left: -15px;
    margin-right: 18px;
  }
  .navbar .brand span small {
    font-size: 12px;
  }
  .container, .navbar .container {
    padding-left: 5px;
  }
  img.logo {
    height: 65px;
    margin-right: 0;
    margin-top: 10px;
    width: 65px;
  }
  span {
    padding-right: 0;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END LOGO AND TITLE ---*/


/* --- START HEADER IMAGE AND SLIDER ---*/
.scroller-spy {
  font-size: 17px;
}

.nav-collapse {
  font-size: 17px;
}

.da-slide .slide-header {
  background-color: rgba(0, 0, 0, 0.65);
  font-family: 'Hind Siliguri';
}

.da-slide.da-slide-current .slides,
.da-slide.da-slide-toleft .slides,
.da-slide.da-slide-toright .slides {
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  /*font-family: 'Palanquin';*/
  font-family: 'Hind Siliguri';
  font-size: 1.4em;
  height: auto;
  padding: 8px 10px 15px;
}

.my-photo {
  border-radius: 170px;
  height: 300px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 480px) {
  .banner-rotator,
  .action-banner-bg,
  .action-banner-bg-top {
    display: none;
  }
  .needhead {
    max-height: 0;
    padding-top: 0;
  }
  .my-photo {
    display: block;
    border-radius: 170px;
    height: 300px;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END HEADER IMAGE AND SLIDER ---*/




/* ------ START ABOUT ME SECTION ------*/
p.features,
p.features:hover {
  border-bottom: none;
  padding-bottom: 0;
  -webkit-transition: none;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 480px) {
  #bio-section {
    padding: 0;
  }
  p.features {
    padding: 0 15px 15px;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END ABOUT ME SECTION ---*/





/* --- START DEVELOPMENT SKILL ICONS ---*/
.devicon {
  display: block;
  padding: 20px;
  position: relative;
  transition: 0.6s;
}

.devicon:hover {
  padding: 10px;
}

.devicon > img {
  float: left;
}

/*.devicon > img:hover {
  opacity: .7;
}*/

.devicon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.dev {
  height: 90%;
  position: absolute;
  transition: 0.6s;
  width: 90%;
  z-index: -1;
}

.devicon-row {
  margin-bottom: 25px;
}

/* --- START MOBILE DEVICE ---*/
@media (max-width: 480px) {
  .span2.devicon {
    display: inline-block;
    float: none;
    width: 30%;
    margin: 0;
  }
  .devicon-row {
    margin-bottom: 0;
  }
}
/* --- END MOBILE DEVICE ---*/
/* --- END DEVELOPMENT SKILL ICONS ---*/



/* --- START PROJECTS ---*/
.main-project {
  display: none;
}

.project-2 {
  box-sizing: border-box;
  border-left: 3px solid #004E64;
  border-top: 3px solid #004E64;
  border-right: 3px solid #004E64;
  height: 310px;
}

.fa-github,
.fa-link {
  color: #fff;
}

.thumbnail {
  box-sizing: border-box;
  padding: 0 0px 15px;
}

.thumbnail .caption {
  padding: 7px 9px;
}

.thumbnail .caption .caption-descr {
  font-size: 14.5px;
  line-height: 16px;
  margin: 0;
  padding: 0 10px;
}

.thumbnail .caption .caption-descr #nel {
  color: #0099ee;
  float: none;
}
/* --- END PROJECTS ---*/


/* --- START CONTACT SECTION ---*/
section#contact-section {
  padding-bottom: 0;
  padding-top: 100px;
}


.color-bottom-line {
  text-align: center;
}

.contact-header {
  margin-top: 0;
}

.contact-icons {
  box-sizing: border-box;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
}

.contact-icon {
  display: block;
  font-size: .9em;
  text-align: center;
  margin: 0;
  width: 33%;
}


.linked {
  background-image: url("../../assets/css/genericons-2/source/svg/linkedin-alt.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px;
  width: 48px;
  height: 48px;
}

.github {
  border-radius: 45px;
  background-image: url("../../assets/css/genericons-2/source/svg/github.svg");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.resume {
  background-image: url("../../assets/css/genericons-2/source/svg/resume-small.png");
  background-size: cover;
  display: inline-block;
  margin: 0 6px 3px;
  height: 45px;
  width: 45px;
}

.icon-description {
  /*clear: both;*/
  text-align: center;
  width: 100%;
}
/* --- END CONTACT SECTION ---*/



/* --- START FOOTER ---*/
.footer {
  font-size: 17px;
}

#footer-section {
  padding-top: 50px;
  padding-bottom: 0;
}
/* --- END FOOTER ---*/
